<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Bachelor's in Statistical Science</div>
    <div>King Mongkut's University of Technology Thonburi</div>
    <small class="form-text text-muted">08/2014 - 06/2018</small>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Senior High School in Science Program</div>
    <div>Debsirin School</div>
    <small class="form-text text-muted">05/2011 - 02/2014</small>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Junior High School in Gifted Program</div>
    <div>Debsirin School</div>
    <small class="form-text text-muted">05/2008 - 02/2011</small>
</div>