<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Font End</div>
    <div>Html , CSS , Javascript</div>
    <div>Framework - Angular</div>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Server side</div>
    <div>NodeJS , Express</div>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Database</div>
    <div>MongoDB</div>
    <div>ODM - Mongoose</div>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Other</div>
    <div>Git</div>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Knowledge</div>
    <div>OOP</div>
    <div>SQL and NoSQL</div>
    <div>MVC , MVVM</div>
    <div>Token-based Authentication</div>
</div>
<div class="mt-5"></div>