<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Client-side</div>
    <div>Html , CSS , Javascript</div>
    <div>Framework - ( Angular , VueJS with Typescript )</div>
    <div>Rxjs , Vuex</div>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Server-side</div>
    <div>Express - NodeJS and Typescript</div>
    <div>Flask - Python</div>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Database & ORM</div>
    <div>MongoDB (Mongoose , MongoEngine) , PostgreSQL (Sequelize)</div>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Other</div>
    <div>Docker , Git , Heroku , Unit Test (Jest)</div>
</div>