<div class="container">
    <div class="row ml-5 mt-5">
        <div class="ml-5">
        <img style="height: 250px; width: 250px; border-radius: 50%;" src="../assets/image/profile.jpg">
        </div>
        <div class="ml-5 mt-5">
        <h1>Mr.Sannonthachai Tunprainich</h1>
        <h3>Web Developer</h3>
            <div class="row ml-1">
                <p>Age : 23</p>
                <p class="ml-3">Nationality : Thai</p>
                <p class="ml-3">Mobile : 092-296-2899</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 ml-5">
        <ul class="nav flex-column mt-5 ml-5">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['profile']"><p style="color: black; font-size: 1.5rem;">Profile</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['experience']"><p style="color: black; font-size: 1.5rem;">Work Experience</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['specialization']"><p style="color: black; font-size: 1.5rem;">Specialization</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['education']"><p style="color: black; font-size: 1.5rem;">Education Background</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['contact']"><p style="color: black; font-size: 1.5rem;">Contact Information</p></a>
            </li>
        </ul>
        </div>
        <div class="col mt-5">
            <div class="mt-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>