<div class="mt-3">
    <div style="margin-bottom: 20px">
        <p class="far fa-building" style='font-size:18px;'></p><span style="font-weight: bold">  Address : </span><span> 581/1148 The niche id condo rama2, Bang-mod, Jom-thong, Bangkok 10150</span>
    </div>
    <div style="margin-bottom: 20px">
        <p class="fa fa-mobile-alt" style='font-size:18px;'>  Mobile : </p><span> 092-296-2899</span>
    </div>
    <div style="margin-bottom: 20px">
        <p class="fab fa-line" style='font-size:18px;'></p><span style="font-weight: bold">  Line ID : </span><span> gen.chai</span>
    </div>
    <div style="margin-bottom: 20px">
        <p class="fab fa-facebook" style='font-size:18px;'></p><span style="font-weight: bold">  Facebook : </span><span> Sannon Thachai</span>
    </div>
    <div style="margin-bottom: 20px">
        <p class="fab fa-instagram" style='font-size:18px;'></p><span style="font-weight: bold">  Instagram : </span><span> sannonthachai</span>
    </div>
    <div style="margin-bottom: 20px">
        <p class="far fa-address-card" style='font-size:18px;'></p><span style="font-weight: bold">  E-mail : </span><span> sannonthachai@gmail.com</span>
    </div>
</div>
