<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Employment History</div>
    <div>Tako Tour Company Limited  | October 2018 - September 2019</div>
    <small class="form-text text-muted">Searching and give information about tour for customer</small>
    <small class="form-text text-muted">Update new programs tour in website</small>
    <small class="form-text text-muted">Give information about visa for customer</small>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Developer History</div>
    <div>Token-based Authentication</div>
    <small class="form-text text-muted">Create login and register system by passport-local and passport-jwt strategy</small>
    <div>Basic API</div>
    <small class="form-text text-muted">Create CRUD API</small>
    <div>Fetch API in Angular</div>
    <small class="form-text text-muted">User HttpClient method to fetch API</small>
</div>