<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Employment History</div>
    <div class="mt-2">Tako Tour Co.,Ltd. | October 2018 - September 2019</div>
    <div class="">Position - Sale</div>
    <small class="form-text text-muted">Practices carefully.</small>
    <small class="form-text text-muted">Increases calmness under pressure.</small>
    <small class="form-text text-muted">Habitually help and give advices people.</small>
    <div class="mt-2">Botnoi Consulting Co.,Ltd. | October 2019 - Present</div>
    <div class="">Position - Front-end Developer</div>
    <small class="form-text text-muted">I have applied VueJS-Typescript framework , design pattern with clean architecture and rxjs to made this web 
        <a href="http://easy-sme.herokuapp.com" target="_blank">http://easy-sme.herokuapp.com</a> by my self.</small>
    <small class="form-text text-muted">Made realtime dashboard and game which is the part of Open Box Event that Ngerntidlor company has organized.</small>
    <small class="form-text text-muted">I am a part of company's team to make live-chat project by angular.</small>
</div>
<div class="mt-3 mb-5">
    <div style='font-size:18px; font-weight: bold;'>Developer Project History</div>
    <div class="mt-2">Token-based Authentication</div>
    <small class="form-text text-muted">Create login and register system by passport-local and passport-jwt strategies.</small>
    <div class="mt-2">Web service with Typescript</div>
    <small class="form-text text-muted">Create RESTful API for Chatbot Project by Typescript(express), OAuth2, Unit test and design pattern with clean architecture.</small>
</div>