<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Employment History</div>
    <div>Tako Tour Company Limited  | October 2018 - September 2019</div>
    <small class="form-text text-muted">Practices carefully.</small>
    <small class="form-text text-muted">Increases calmness under pressure.</small>
    <small class="form-text text-muted">Habitually help and give advices people.</small>
</div>
<div class="mt-3">
    <div style='font-size:18px; font-weight: bold;'>Developer Project History</div>
    <div>Token-based Authentication</div>
    <small class="form-text text-muted">Create login and register system by passport-local and passport-jwt strategies.</small>
    <div>Typescript API</div>
    <small class="form-text text-muted">Create API for Chatbot Project in Typescript and unit test.</small>
    <div>Angular</div>
    <small class="form-text text-muted">Create rest-api service to fetch customer data from server.</small>
    <div>Line Chatbot</div>
    <small class="form-text text-muted">Create chatbot line channnel.</small>
</div>