<div class="mt-3">
    <div style='font-size: 18px; font-weight: bold;'>Personal Profile</div>
    <p>After graduation, I had the opportunity to work with a developer about font-end project. I enjoyed it very much. It inspires me to be a developer. 
        It challenges me to get out the comfort zone because i do not have an experience in developer filed. I am determined to learn and practice the programming skill. 
        Now i am sure that i have enough ability to work in this field for grow up my skill next step.</p>
</div>
<div class="mt-3">
    <div style='font-size: 18px; font-weight: bold;'>Objective</div>
    <p>I have an intend to be a developer. I would like to improve my skill and take one more responsibility.</p>
</div>