<div class="mt-3">
    <div style='font-size: 18px; font-weight: bold;'>Personal Profile</div>
    <p>After graduation, I had the opportunity to work with a developer about web chat bot project. I enjoyed it very much. It inspires me to be a developer. 
        It challenges me to get out the comfort zone because i do not have an experience in developer filed. I am determined to learn and practice the programming skill. 
        I have worked for various firms in developer including back-end and front-end more than one year. Now I am ready handle a big project.</p>
</div>
<div class="mt-3">
    <div style='font-size: 18px; font-weight: bold;'>Objective</div>
    <p>I am intend to be a full-stack developer and get involed in the big project. I would like to improve my skill and take one more responsibility.</p>
</div>