<div class="mt-3">
    <div style='font-size: 18px; font-weight: bold;'>Personal Profile</div>
    <p>When i am a new graduated i have an opportunity to help a developer work fontend project then i have an interesting to be a developer.
         But i dont have an experience in developer filed of work then i practice the programing skills about 1 yaer and now i think i have enough 
         ability to work with companies for grow up my skill next step.
    </p>
</div>
<div class="mt-3">
    <div style='font-size: 18px; font-weight: bold;'>Objective</div>
    <p>Learn working with developer team and grow up the programing skills and i hope my ability will help develop my company.
    </p>
</div>