<div class="row">
    <div class="col border-right border-dark">
        <div class="border-bottom border-dark mt-3">
            <div style='font-size: 22px; font-weight: bold;'>Objective</div>
            <app-profile></app-profile>
        </div>
        <div class="border-bottom border-dark mt-3 pb-4">
            <div style='font-size: 22px; font-weight: bold;'>Work Experience</div>
            <app-work-experience></app-work-experience>
        </div>
        <div>
            <div class="mt-3" style='font-size: 22px; font-weight: bold;'>Education Background</div>
            <app-education-background></app-education-background>
        </div>
    </div>
    <div class="col ml-3">
        <div class="border-bottom border-dark pb-4">
            <div class="mt-3" style='font-size: 22px; font-weight: bold;'>Specialization</div>
            <app-specialization></app-specialization>
        </div>
        <div class="mt-3">
            <div class="mt-3" style='font-size: 22px; font-weight: bold;'>Contact Information</div>
            <app-contact-information></app-contact-information>
        </div>
    </div>
</div>