<div class="row">
    <div class="col border-right border-dark">
        <div class="border-bottom border-dark mt-3">
            <div style='font-size: 22px; font-weight: bold; color: #17a2b8;'>Objective</div>
            <app-profile></app-profile>
        </div>
        <div class="mt-3">
            <div style='font-size: 22px; font-weight: bold; color: #17a2b8;'>Work Experience</div>
            <app-work-experience></app-work-experience>
        </div>
    </div>
    <div class="col ml-3">
        <div class="border-bottom border-dark pb-4">
            <div class="mt-3" style='font-size: 22px; font-weight: bold; color: #17a2b8;'>Specialization</div>
            <app-specialization></app-specialization>
        </div>
        <div class="mt-3 border-bottom border-dark pb-4">
            <div class="mt-3" style='font-size: 22px; font-weight: bold; color: #17a2b8;'>Education Background</div>
            <app-education-background></app-education-background>
        </div>
        <div class="mt-3">
            <div class="mt-3" style='font-size: 22px; font-weight: bold; color: #17a2b8;'>Contact Information</div>
            <app-contact-information></app-contact-information>
        </div>
    </div>
</div>